

.main {
  text-align: center;
  margin-top: 60pt;
  margin-bottom: 20pt;
  font-size: 40pt;
}

.container {
  text-align: center;
}

form {
  border: 1pt solid;
  width: 300pt;
  padding-bottom: 10pt;
  margin: 0 auto;
}

.form-label-group {
  text-align: center;
}

.div-sign-up {
  text-align: right;
}

.form-control {
  width: 290pt;
  height: 30pt;
  margin-top: 2pt;
  font-size: 15pt;
}

.login-div {
  text-align: center;
}

.button-login {
  width: 292pt;
  font-size: 20pt;
  margin-top: 2pt;
}

.link-sign-up {
  color : red;
  text-decoration: none;
}
