<!doctype html>
{% load staticfiles %}
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'account/index.css' %}" type="text/css"/>
  </head>
  <body>
    <header>
      <p class="main">MyDictionary</p>
    </header>
    <div class="container">
      <form>
        <div class="form-label-group">
          <input type="id" id="inputNewID" class="form-control" placeholder="ID" required autofocus>
        </div>

        <div class="form-label-group">
          <input type="password" id="inputNewPassword" class="form-control" placeholder="Password" required>
        </div>

        <div class="div-login">
          <button class="button-login" type="submit">Sign In</button>
        </div>

        <div class="div-sign-up">
          <a class="link-sign-up" href="post_index">already have account?</a>
        </div>
      </form>
    </div>
  </body>
</html>
